@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  font-family: "Space Mono", monospace !important;
  font-weight: 400;
  font-size: 20px !important;
  background-color: #1a1a1a;
}

.main__section {
  /* background-image: url("./assets/images/back.svg"); */
  background-size: 100px 100px;
  background-position: center center;
  background-repeat: no-repeat;
}
.radio__title {
  width: 36px;
  height: 36px;
}
.radio__title:checked {
  content: url("./assets/images/check.svg");
}
